/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-9d8a0b2fb5/4/.yarn/berry/cache/next-npm-15.1.5-02bc58b178-10c0.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./.yarn/__virtual__/next-virtual-9d8a0b2fb5/4/.yarn/berry/cache/next-npm-15.1.5-02bc58b178-10c0.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Components/TableSort.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TableSort_th__XzK2G {
    padding: 0;
}

.TableSort_control__OVl8B {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
}

@media (hover: hover) {

    .TableSort_control__OVl8B:hover {
        background-color: var(--mantine-color-gray-0);
    }
        [data-mantine-color-scheme='dark'] .TableSort_control__OVl8B:hover {
        background-color: var(--mantine-color-dark-6);
    }
}

@media (hover: none) {

    .TableSort_control__OVl8B:active {
        background-color: var(--mantine-color-gray-0);
    }
        [data-mantine-color-scheme='dark'] .TableSort_control__OVl8B:active {
        background-color: var(--mantine-color-dark-6);
    }
}

.TableSort_icon___DEMh {
    width: 21px;
    height: 21px;
    border-radius: 21px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-9d8a0b2fb5/4/.yarn/berry/cache/next-npm-15.1.5-02bc58b178-10c0.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./.yarn/__virtual__/next-virtual-9d8a0b2fb5/4/.yarn/berry/cache/next-npm-15.1.5-02bc58b178-10c0.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Components/HeaderSimple.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderSimple_header__DzWar {
    height: 56px;
    margin-bottom: 120px;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-gray-3);
}
    [data-mantine-color-scheme='dark'] .HeaderSimple_header__DzWar {
    border-bottom: 1px solid var(--mantine-color-dark-4);
}

.HeaderSimple_inner__0RRok {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderSimple_link__0iaXT {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: var(--mantine-color-gray-7);
}

[data-mantine-color-scheme='dark'] .HeaderSimple_link__0iaXT {
    color: var(--mantine-color-dark-0);
}

.HeaderSimple_link__0iaXT {
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}

@media (hover: hover) {
    .HeaderSimple_link__0iaXT:hover {
        background-color: var(--mantine-color-gray-0);
    }
        [data-mantine-color-scheme='dark'] .HeaderSimple_link__0iaXT:hover {
        background-color: var(--mantine-color-dark-6);
    }
}

@media (hover: none) {
    .HeaderSimple_link__0iaXT:active {
        background-color: var(--mantine-color-gray-0);
    }
        [data-mantine-color-scheme='dark'] .HeaderSimple_link__0iaXT:active {
        background-color: var(--mantine-color-dark-6);
    }
}

[data-mantine-color-scheme] .HeaderSimple_link__0iaXT[data-active] {
        background-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
    }
